[tool.ruff]
line-length = 88
select = ["E", "W", "F", "I", "C90", "N", "D", "UP", "ANN", "ASYNC", "S", "B", "A", "COM", "DJ", "DTZ", "ERA", "G", "ISC", "ICN", "PL", "PT", "Q", "RET", "RSE", "RUF", "SIM", "TID", "TCH", "INT", "ARG", "PTH", "TD", "FIX", "PD", "PG"]
ignore = [] # No ignores for now, can be added later if needed

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
docstring-code-format = true
line-ending = "auto"
